@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Poppins;
    font-style: normal;
}
.general {
    padding-top: 27px;
    padding-left: 59px;
}
.text-blue {
    color: #084482;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.text-black {
    color: #1F2430;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.tabs hr {
    border: 1px solid rgba(196, 196, 196, 0.5);
    width: 90%;
    align-self: start;
    margin-left: 0;
}
.blue-hr {
    border: 1.5px solid #084482;
    width: 75px;
    align-self: start;
    margin-left: 0;
}
.tabs {
    margin-top: 47px;
}
.arrow {
    align-self: flex-end;
}
.btn-save {
    position: absolute;
    left: 70%;
    top: 80%;
}
.btn-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: white;
}
.btn {
    background: #084482 !important;
    border-radius: 5px !important;
}
